*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    
}

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Tajawal', sans-serif;
font-family: 'Comfortaa', cursive;*/

body{
    position: relative;
    
}
/* header part*/
header{
    background-image: url('./joel-muniz-XqXJJhK-c08-unsplash.jpg');
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
   
    background-attachment: fixed;
}
.navbar{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    
}
.navdiv{
    display: inline-block;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 7vw;
    
}



.nav-logo img{
    height: 70px;
    width: 70px;
    padding-top: 10px;
}
.active{
    display: inline-block;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    background-color: white;
    color: black !important;
    box-shadow: 2px 2px 2px #ccc;
    transition: 0.5s;
}
.nav-logo{
    position: absolute;
    left: 10%;
    font-family: 'Tajawal', sans-serif;
}
.nav-logo h1{
    padding: 12px 5%;
   
}

.nav-list{
    position: absolute;
    right: 10%;
    padding-top:2%;
    font-family: 'Tajawal', sans-serif;
}

.nav-list ul {
    list-style-type: none;
}
.nav-list ul li{
   
   display: inline-block;
   padding: 10px;
   
}
.nav-list li a{
    text-decoration: none;
}
.li1{
    color: white;
}
.ant{
    color: #4d4d4d;
}
.li1:hover{
    font-size: larger;
    border-bottom: 2px solid  #f8faff;
    
    transition: 0.3s ease-in;
    
}
.li2{
    color: white;
}
.ant{
    color: #4d4d4d;
}
.li2:hover{
    font-size: larger;
    border-bottom: 2px solid rgba(7, 201, 7, 0.973);
    
    transition: 0.3s ease-in;
}
.li3{
    color: white;
}
.ant{
    color: #4d4d4d;
}
.li3:hover{
    font-size: larger;
    border-bottom: 2px solid #4d4d4d;
    
    transition: 0.3s ease-in;
}
.li4{
    color: white;
}
.ant{
    color: #4d4d4d;
}
.li4:hover{
    font-size: larger;
    border-bottom: 2px solid rgba(0, 0, 255, 0.973);
    
    transition: 0.3s ease-in;
}
.li5{
    color: white;
}
.ant{
    color: #4d4d4d;
}
.li5:hover{
    font-size: larger;
    border-bottom: 2px solid #272e4f;
    
    transition: 0.3s ease-in;
}
.li6{
    color: white;
}
.ant{
    color: #4d4d4d;
}
.li6:hover{
    font-size: larger;
    border-bottom: 2px solid rgba(255, 0, 0, 0.973);
    
    transition: 0.5s ease-in;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    font-family: 'Comfortaa', cursive;
    
}
.text1{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    font-family: 'Comfortaa', cursive;
    transition: 0.3s;
}
.text1:hover{
    
    cursor: pointer;
}

/*about us*/
#about{
    margin:0 5%;
    font-family: 'Tajawal', sans-serif;
    background-color: #f8f9fa;
    height: 550px;
    text-align: justify;
    
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding-top: 30px;
    padding-top:12% ;
    margin: 0% 5%;
    
}
#about h1{
    
    font-size: larger;
    text-align: center;
    
    
}
/* gallery section*/

#gallery{
    margin-top: 8% ;
    
    font-family: 'Tajawal', sans-serif;
    align-content: center;
    background-color: #f8faff;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    height: 770px;
    position: relative;
    color: #4d4d4d;
    
}

.arrow-left{
    top: 50%;
    left: 5%;
    position: absolute;
    cursor: pointer;
    z-index: 200;
    transition: 0.2s;
}
.arrow-left:hover{
    transform: scale(0.9);
    color: rgba(255, 0, 0, 0.8);
}
.arrow-right:hover{
    transform: scale(0.9);
    color: rgba(0, 0, 255, 0.973);
}
.arrow-right{
    top: 50%;
    right: 5%;
    position: absolute;
    cursor: pointer;
    z-index: 200;
    transition: 0.2s;
}


#gallery h1{
  /*  border-bottom:5px solid  rgba(7, 201, 7, 0.973);*/
    
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4%;
    grid-column-gap: 2%;
}
.cards img{
    height: 120px;
    width: 120px;
    margin: 9%;
    border-radius: 50%;
   
    
}
.p{
    margin-left: 9%;
    margin-right:9%;
    margin-bottom: 10%;
    
}
.cards{
    background-color: white;
    box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    height: 500px;
    text-align: center;
    transition: 0.3s;
    
  
    

}
.cards:hover{
  transform: scale(1.1);
}


/* contact*/

#contact{
    margin: 0;
    padding-top: 3%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    background-image: url('./6906537_preview.png');
    height: 700px;
    position: relative;
}
#contact h1{
    border-bottom: 5px solid rgba(255, 0, 0, 0.8) ;
    text-align: center;
    ;
}
.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact input{
    height: 50px;
    width: 550px;
    border: 2px solid white;
}
.contact p{
    font-weight: 400;
    font-size: 20px;
   
}
.contact input::placeholder{
    text-align: center;
    color: #4d4d4d;
    opacity: 0.4;
    
}
.name {
    text-align: center;
}
.email{
    text-align: center;
}
.message {
    text-align: center;
}

.contact button{
    background-color: rgba(255, 0, 0, 0.973);
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    transition: 0.2s;
    cursor: pointer;

}
.contact button:hover{
    transform: scale(0.9);
}
/*service*/

#service{
    margin:8%;
    font-family:'Tajawal', sans-serif;
    align-content: center;
    
}
#service > h1{
    border-bottom: 5px solid rgb(0,0,255, 0.8) ;
    text-align: center;
    margin-bottom: 5%;
    
}
.service{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}
.card{
    text-align: center;
}
.card p{
    color: #4d4d4d;
    opacity: 0.7;
}




/*listen*/
#listen{
    margin: 8%;
    font-family: 'Tajawal', sans-serif;
    align-content: center;
    
}
#listen h1{
    border-bottom: 5px solid rgba(255, 0, 0, 0.8) ;
    text-align: center;
    
}

/*footer*/
footer{
    background-color:#272e4f ;
    padding: 5% 10%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 100px;
    height: 270px;
    font-family: 'Tajawal', sans-serif;
   
    background-attachment: fixed;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-img img{
    height: 70px;
    width: 70px;
    padding-top: 10px;
}
.footer-quick a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
}
.footer-quick a:hover{
    color: white;
}
.footer-quick li{
    padding-bottom: 10px;
}
.footer li{
    list-style-type: none;
}
.footer-con li{
    padding-bottom: 10px;
}
.footer-con a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
    padding-right: 20px;
}
.footer-con a:hover{
    color: white;
}